{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macros %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block title %}Register{% endblock %}
{% block page_content %}
<h1>Register</h1>
<form action="{{ url_for('register') }}" method="POST" name="register_user_form" class="form_table">
  {{ register_user_form.hidden_tag() }}
  {{ macros.render_field(register_user_form.organization,
  class="select2", p=False) }}
  <p>or</p>
  {{ macros.new_org_modal() }}
  {{ macros.render_field(register_user_form.name) }}
  {{ macros.render_field(register_user_form.first_name) }}
  {{ macros.render_field(register_user_form.last_name) }}
  {{ macros.render_field(register_user_form.email) }}
  {{ macros.render_field(register_user_form.address_1) }}
  {{ macros.render_field(register_user_form.address_2) }}
  {{ macros.render_field(register_user_form.address_3) }}
  {{ macros.render_field(register_user_form.city) }}
  {{ macros.render_field(register_user_form.state) }}
  {{ macros.render_field(register_user_form.postcode) }}
  {{ macros.render_field(register_user_form.phone) }}
  {{ macros.render_field(register_user_form.country) }}
  {{ macros.render_field(register_user_form.facility, class="select2") }}
  {{ macros.render_field(register_user_form.password) }}
  {{ macros.render_field(register_user_form.password_confirm) }}
  {{ render_field(register_user_form.submit) }}
</form>
{% endblock %}
