{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macros %}

{% block title %}Iggybase - {{ page_type.replace( '_',' ' ) }}{% endblock %}

{% block page_content %}
    <h1>{{ page_type.replace( '_', ' ' ) }} Summary</h1>
    <div class={{ page_type ~ "_table" }}>
        {{ macros.render_table( rows, headers, page_type ) }}
    </div>
    {% block scripts %}
        {{ super() }}
        <script type="text/javascript" src="{{ url_for('static', filename='mod_lab/main.js') }}"></script>
    {%- endblock scripts %}
{% endblock %}
