@page {
    size: landscape;
 }
body {
    margin: 5px 20px;
}
.banner-img-wrapper {
    height: 75px;
    vertical-align: middle;
    float: left;
    padding-right: 20px;
}
.banner-img {
    vertical-align: middle;
    max-height: 100%;
}
.banner-title {
    height: 50px;
    vertical-align: middle;
    max-height: 100%;
    display: inline-block;
}
.banner-title h1 {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1em;
    font-weight: bold;
}

.banner-title ul {
    margin-top: 0;
    margin-bottom: 0;
}
table, th, td {
    border:2px solid black;
}
th, td {
    padding: 5px 10px;
    text-align:left;
}
th {
    background-color:#c8c8c8;
}
.banner-title h1 {
    font-family:   Helvetica, Arial, sans-serif;
    color:         #964B36;
}
.banner-title h3 {
    font-family:   Helvetica, Arial, sans-serif;
    color:         #764B36;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.to_info {
    clear:left;
}
.po_invoice_address {
    clear:right;
}
.address, .to_info, .remit_left {
    margin:12px 0 1px 0;
    display: table-cell;
    float: left;
}
.invoice_info, .po_invoice_address, .remit_right {
    display: table-cell;
    float: right;
}
.invoice_info ul .po_invoice_address ul, .remit_right ul {
    float: right;
    margin-right:20px;
    font-weight: bold;
}
.sub_headers, .to_address {
    display: table-row;
}
.pdf_header, .to_wrapper {
    display: table;
    width: 100%;
}
.invoice_tbls {
    margin-top: 10px;
    clear:both;
}
table {
    page-break-inside: avoid;
}
.page_break {
    page-break-before: always;
}
.remit_right, .remit_left {
    border: 1px solid black;
}
