.search-button {
    float: right ! important;
}
.form-control {
  display: inline-block ! important ;
  max-width: 80% ! important ;
  float: right ! important;
}
.form-control-lookup {
  display: inline-block ! important ;
  width: calc(80% - 18px) ! important ;
}
.label{
    float: left ! important;
}
.datepicker-field {
    max-width:100px!important;
}
.right {
    float: right ! important;
}
.inline-block {
    display: inline-block ! important ;
}
.text-align-right {
    text-align:right ! important ;
}
.table {
    float:left;
    table-layout: fixed;
}
.table-control {
    display: block;
    width: 90%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}