body {
    overflow-x:hidden;
}
.left-indent-div {
    padding-left: 100px!important
}
.top_buttons {
    display: block;
    vertical-align: top!important;
    overflow: auto
}
.content_title {
    display: block;
    vertical-align: top!important;
    overflow: auto
}
.bottom_buttons {
    vertical-align: bottom!important;
    display: block;
    overflow: auto
}
/*
.lookupfield:focus {
  background: #fff0e0;
}
*/
.lookupfield {
  background: #ECF0F1!important;
}
.lookupfieldex {
    display: inline-block;
    width: 10%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #ECF0F1;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.page_content {
    display: block;
    vertical-align: middle!important;
    overflow: auto
}
.close_modal {
    float: right ! important;
}
.search-button {
  display: inline-block ! important ;
}
.right {
    float: right ! important;
}
.summary_table {
    float: left ! important;
}
.inline-block {
    display: inline-block ! important ;
}
.text-align-right {
    text-align:right ! important ;
}
.table {
    float:left;
    table-layout: fixed;
}
.table-control {
    display: block;
    width: 90%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.data-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
textarea.data-control {
    height: 68px! important;
}
textarea.table-control {
    margin-top: 5px!important;
    margin-bottom: -27px!important;
}
input[type=checkbox].table-control {
    margin-top: -8px!important;
    margin-left: 0px!important;
}
input[type=checkbox].data-control {
    margin-top: -5px!important;
    margin-left: 0px!important;
}
pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.red {
    color: red;
}
.disabled {
    pointer-events: none;
    cursor: default;
}
.breadcrumbs{
    overflow: hidden;
    width: 100%;
}

.breadcrumbs li{
    float: left;
    margin: 0 2em 0 0;
}

.breadcrumbs a{
    padding: .7em 1em .7em 2em;
    float: left;
    text-decoration: none;
    color: #444;
    background: #ddd;
    position: relative;
    z-index: 1;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    border-radius: .4em 0 0 .4em;
}

.breadcrumbs a:hover,
.breadcrumbs .current,
.breadcrumbs .current:hover{
    background: #abe0ef;
}

.breadcrumbs a::after{
    background: #ddd;
    content: "";
    height: 2.5em;
    margin-top: -1.25em;
    position: absolute;
    right: -1em;
    top: 50%;
    width: 2.5em;
    z-index: -1;
    transform: rotate(45deg);
    border-radius: .4em;
}

.breadcrumbs a:hover::after,
.breadcrumbs .current::after{
    background: #abe0ef;
}
.banner {
    height: 100px;
    line-height: 100px;
}
.banner-img-wrapper {
    height: 75px;
    vertical-align: middle;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}
.banner-img {
    vertical-align: middle;
    max-height: 100%;
}
.banner-title {
    height: 75px;
    vertical-align: middle;
    max-height: 100%;
    display: inline-block;
}
.banner-title h1 {
    margin-top: 1%;
    margin-bottom: 1%;
}

.banner-title h3 {
    margin-top: 1%;
    margin-bottom: 1%;
}
.logout {
    margin: 5%;
}
#logout li {
    display:inline;
}
#logout li:not(:last-child) {
    border-right:solid 1px #FFF;
}
.container-fluid {
    clear: both;
}
.required:after {
    color: red;
    font-weight:bold;
    content:" *";
}
.child_table {
    margin-bottom: 10px;
}
.div_level_0 {
    margin-left: 0px;
    display:inline-block;
    width: 50%;
}
.multi-row-header {
    overflow-x:hidden;
    overflow-y:hidden;
    white-space:nowrap;
    background-color: #f0f0f0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 2px;
    margin-left: 2px;
    padding-left: 15px;
    float:none;
}
.label-row {
    float:none;
    display:inline-block;
}
.multi-row-data > .row {
    margin-right: 2px;
    margin-left: 2px;
    float:none;
}
.label-th {
    float:left;
}
.spacer-15 {
    width:15px;
    display:inline-block;
}
.remove-row {
    float:none;
    display:inline-block;
    margin-top:8px;
}
.multi-row-data {
    overflow-x:auto;
    overflow-y:auto;
    white-space:nowrap;
    padding-bottom:50px;
}

/* fix to make scroll bar visibile in chrome with mac */
::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
    width: 11px;
}
::-webkit-scrollbar:horizontal {
    height: 11px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.multi-row-data > .row [class*="col-md"] {
    float:none;
    display:inline-block;
}
.main-row {
    margin-bottom: 10px;
}
.div_level_1 {
    margin-left: 0px;
    width: 100%;
}
.div_level_2 {
    margin-left: 50px;
    width: calc(100% - 50px);
}
.div_level_3 {
    margin-left: 100px;
    width: calc(100% - 100px);
}
.div_level_4 {
    margin-left: 150px;
    width: calc(100% - 150px);
}
.div_level_5 {
    margin-left: 200px;
    width: calc(100% - 200px);
}
#search_body {
    padding: 5px;
}
#modal_search_results td, th {
    padding: 5px;
}
#modal_search_results th {
    font-weight: bold;
}
#modal_search_results input {
    white-space: normal;
}
.tall {
    height: 60px;
}
.form_table {
    display: table;
}
.form_table p {
    display: table-row;
}
.form_table label {
    display: table-cell;
    margin-bottom: 4%;
}
.form_table input, select {
    display: table-cell;
    margin-bottom: 4%;
    margin-left: 2%;
}

.form_table span.select2 {
    margin-bottom: 4%;
    margin-left: 2%;
}
#page_message {
    color: #2ab289;
}
