ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.breadcrumbs{
    overflow: hidden;
    width: 100%;
}

.breadcrumbs li{
    float: left;
    margin: 0 2em 0 0;
}

.breadcrumbs a{
    padding: .7em 1em .7em 2em;
    float: left;
    text-decoration: none;
    color: #444;
    background: #ddd;
    position: relative;
    z-index: 1;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    border-radius: .4em 0 0 .4em;
}

.breadcrumbs a:hover,
.breadcrumbs .current,
.breadcrumbs .current:hover{
    background: #abe0ef;
}

.breadcrumbs a::after{
    background: #ddd;
    content: "";
    height: 2.5em;
    margin-top: -1.25em;
    position: absolute;
    right: -1em;
    top: 50%;
    width: 2.5em;
    z-index: -1;
    transform: rotate(45deg);
    border-radius: .4em;
}

.breadcrumbs a:hover::after,
.breadcrumbs .current::after{
    background: #abe0ef;
}
