{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macros %}

{% block title %}{{ page_title }}{% endblock %}

{% block page_content %}
    <h1>{{ page_header }}</h1>
    <form action class="form" method="post" role="form">
        <div class="col-md-4">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens='only') }}

            {%- for field in form %}
                {% if not bootstrap_is_hidden_field( field ) -%}
                    {{ wtf.form_field( field ) }}
                {%- endif %}
            {%- endfor %}

            {% block bottombuttonbar %}
                {{ super() }}
                {{ macros.render_buttons( buttons ) }}
            {%- endblock bottombuttonbar %}
        </div>
    </form>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='mod_auth/main.js') }}"></script>
{%- endblock scripts %}
