{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macros %}

{% block title %}Iggybase Login{% endblock %}

{% block page_content %}
    <h1>Login</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form( form ) }}
        </div>
    </div>
    {% block scripts %}
        {{ super() }}
        <script type="text/javascript" src="{{ url_for('static', filename='mod_auth/main.js') }}"></script>
    {%- endblock scripts %}
{% endblock %}
