{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macros %}

{% block title %}{{ page_title }}{% endblock %}

{% block page_content %}
    <h1>{{ page_header }}</h1>
    <div>
        <p>
            {{ page_msg }}
        </p>
    </div>

    {% block bottombuttonbar %}
        {{ super() }}
        {{ macros.render_buttons( buttons ) }}
    {%- endblock bottombuttonbar %}

    {% block scripts %}
        {{ super() }}
        <script type="text/javascript" src="{{ url_for('static', filename='mod_auth/main.js') }}"></script>
    {%- endblock scripts %}
{% endblock %}