{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ page_title }}{% endblock %}

{% block page_content %}
    <h1>{{ page_header }}</h1>
    <div>
        <p>
            {{ page_msg }}
        </p>
    </div>
    <input type="button" class="btn btn-default" id="regcompletelogin" value="Login" >
    <input type="button" class="btn btn-default" id="login_register" value="Register" >

    {% block scripts %}
        {{ super() }}
        <script type="text/javascript" src="{{ url_for('static', filename='mod_auth/main.js') }}"></script>
    {%- endblock scripts %}
{% endblock %}