.banner-title h1 {
    font-family:   Baskerville, Verdana, Geneva, Arial, Helvetica, sans-serif;
    color:         #964B36;
}

.banner-title h3 {
    font-family:   Baskerville,Verdana, Geneva, Arial, Helvetica, sans-serif;
    color:         #764B36;
}
