{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='jquery/DataTables/media/css/jquery.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='jquery/DataTables/extensions/Select/css/select.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='jquery/DataTables/extensions/Buttons/css/buttons.dataTables.min.css') }}" rel="stylesheet">
{%- endblock styles %}
{% block title %}Iggybase - {{ table_name.replace( '_',' ' ) }}{% endblock %}

{% block page_content %}
<h1>{{ table_name.replace( '_', ' ' )|title }} Action Summary</h1>
    {% block hidden_fields -%}
        {{super()}}
    {%- endblock hidden_fields %}
    {% block topbuttonbar %}
        {{ super() }}
        {{ macros.render_buttons(top_buttons)}}
    {%- endblock topbuttonbar %}
    <div class={{ table_name ~ "_table" }}>
        {{ macros.render_table_headers(table_query) }}
    </div>
    {% block bottombuttonbar %}
        {{ super() }}
        {{ macros.render_buttons(bottom_buttons)}}
    {%- endblock bottombuttonbar %}
{%- endblock page_content %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript"
        src="{{ url_for('static', filename='jquery/DataTables/media/js/jquery.dataTables.min.js')}}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='jquery/DataTables/extensions/Select/js/dataTables.select.min.js')}}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='jquery/DataTables/extensions/Buttons/js/dataTables.buttons.min.js')}}"></script>
{%- endblock scripts %}
