{% import "bootstrap/wtf.html" as wtf %}

{% block doc -%}
<!DOCTYPE html>
    <html{% block html_attribs %}{% endblock html_attribs %}>
    {%- block html %}
        <head>
        {%- block head %}
            <title>{% block title %}{% endblock title %}</title>

            {%- block metas %}
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {%- endblock metas %}

            {%- block styles %}
                <!-- Bootstrap -->
                <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
                <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
            {%- endblock styles %}
        {%- endblock head %}
        </head>
        <body{% block body_attribs %}{% endblock body_attribs %}>
        {% block body -%}
            {% block banner %}
                <div class="banner" id="banner">
                    <a  href="{{ url_for('index') }}">
                        <img src="{{ url_for('static', filename='iggybase.gif') }}">
                    </a>
                    {% if current_user.is_authenticated %}
                        <div id="logout">
                            <a class="pull-right" href="{{ url_for('mod_auth.logout') }}">Logout</a>
                        </div>
                    {% endif %}
                </div>
            {% endblock banner %}

            {% block navbar %}
            {%- endblock navbar %}

            {% block sidebar %}
            {% endblock sidebar %}

            {% block content -%}
                <div class="container">
                    {% block page_content %}
                        {% block topbuttonbar %}
                        {%- endblock topbuttonbar %}

                        {% block bottombuttonbar %}
                        {%- endblock bottombuttonbar %}
                    {% endblock page_content %}
                </div>
            {%- endblock content %}

            {% block scripts %}
                <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
                <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
                <script type="text/javascript" src="{{ url_for( 'static', filename='main.js' ) }}"></script>
            {%- endblock scripts %}
        {%- endblock body %}
        </body>
    {%- endblock html %}
    </html>
{% endblock doc -%}
