{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macros %}

{% block doc -%}
    <!DOCTYPE html>
    <html {% block html_attribs %}{% endblock html_attribs %}>
    {%- block html %}
        {%- if "modal_form" not in page_context %}
            <head>
            {%- block head %}
                <title>{% block title %}{% endblock title %}</title>

                {%- block metas %}
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                {%- endblock metas %}

                {%- block styles %}
                <!-- Bootstrap -->
                <link href="{{ url_for('static', filename='reset.css') }}" rel="stylesheet">
                <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">

                <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.css" rel="stylesheet">

                <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
                <link href="{{ url_for('static', filename='bootstrap_datepicker/css/bootstrap-datepicker.min.css') }}" rel="stylesheet">
                {% if g.rac and g.rac.facility.css %}
                    <link href="{{ url_for('static', filename='css/' + g.rac.facility.css) }}" rel="stylesheet">
                {% endif %}
                {%- endblock styles %}
            {%- endblock head %}
            </head>
        {% endif -%}

        <body{% block body_attribs %}{% endblock body_attribs %}>
        {% block body -%}

            {%- if "modal_form" not in page_context %}
                <div id="dialog" class="modal fade" role="dialog">
                    <div id="modal_dialog" class="modal-dialog">
                        <div id="modal_dialog_content" class="modal-content"></div>
                    </div>
                </div>
                <div id="search-dialog" class="modal fade" role="dialog">
                    <div id="modal_search" class="modal-dialog">
                        <div id="modal_search_content" class="modal-content"></div>
                    </div>
                </div>

                <div class="row banner" id="banner">
                    {% if g.rac and (g.rac.facility.banner_img or g.rac.facility.banner_title) %}
                        {% if g.rac.facility.banner_img %}
                        <div class="col-md-1">
                            <div class="banner-img-wrapper">
                                <a href="{{ url_for('index') }}"> <img class="banner-img" src="{{ url_for('static', filename='images/' + g.rac.facility.banner_img) }}"></a>
                            </div>
                        </div>
                        {% endif %}
                        {% if g.rac.facility.banner_title %}
                        <div class="col-md-7">
                            <div class="banner-title">
                                    <h1>{{g.rac.facility.banner_title}}</h1>
                            {% if g.rac.facility.banner_subtitle %}
                                    <h3>{{g.rac.facility.banner_subtitle}}</h3>
                            {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    {% else %}
                        <div class="banner-img-wrapper">
                            <a  href="{{ url_for('index') }}"> <img class="banner-img" src="{{ url_for('static', filename='iggybase.gif') }}"></a>
                        </div>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                        <div id="logout" class="col-md-1 right">
                            <a class="logout right" href="{{ url_for('security.logout') }}">Logout</a>
                        </div>
                    {% endif %}
                </div>


                <div class="container-fluid">
                    {% block sidebar %}
                    <div class="col-sm-2 sidebar">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                {% if sidebar %}
                                    {% for item, info in sidebar.items() %}
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion"
                                                href="#{{ item }}collapse">{{ info['title'] }}</a>
                                            </h4>
                                        </div>
                                        <div class="panel-body">
                                            <div id="{{ item }}collapse" class="panel-collapse collapse in">
                                                {% for sub, sub_info in info['subs'].items() %}
                                                    <a id="{{ item }}" href="{{ sub_info['url'] }}" class="small">
                                                        {{ sub_info['title'] }}
                                                    </a><br />
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>  <!-- end panel -->
                        </div> <!-- end panel-group -->
                    </div>
                    {% endblock sidebar %}
                {% endif %}

                <div class="col-sm-10">
                    {%- if "modal_form" not in page_context %}
                        {% block navbar %}
                        <div class="row">
                            <nav class="navbar navbar-inverse">
                                <div>
                                    {{ macros.render_nav_menu( navbar or None, True ) }}
                                </div>
                            </nav>
                        </div>  <!-- end row -->
                        {%- endblock navbar %}
                    {% endif %}

                    <div  class="content">
                    {% block content -%}
                        {% block content_title -%}
                        {%- endblock content_title %}
                        {% block page_msg %}
                            <div id="page_message">
                                    <p>
                                    {{ page_msg|safe }}
                                    {% with messages = get_flashed_messages() %}
                                        {% for message in messages %}
                                            {{ message }}
                                        {% endfor %}
                                    {% endwith %}
                                    </p>
                                </div>
                        {%- endblock page_msg -%}

                        {% block topbuttonbar -%}
                            {%- if top_buttons %}
                                {%- if "modal_form" in page_context %}
                                    <div>
                                {% else -%}
                                    <div class="top_buttons">
                                {% endif -%}
                                {{ macros.render_buttons(top_buttons) }}
                                </div>
                            {% endif -%}
                        {%- endblock topbuttonbar %}

                        {% block hidden_fields -%}
                        <div id="hidden_fields" style="display:none;">
                            {% if hidden_fields %}
                                {% for name, value in hidden_fields.items() %}
                                <input type="hidden" id="{{name}}" name="{{name}}"value="{{value}}" class="hidden_field">
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% endblock hidden_fields %}

                        {% block page_content -%}
                        {%- endblock page_content %}

                        {% block bottombuttonbar -%}
                            {%- if bottom_buttons %}
                                {%- if "modal_form" in page_context %}
                                    <div>
                                {% else -%}
                                    <div class="bottom_buttons">
                                {% endif -%}
                                {{ macros.render_buttons(bottom_buttons) }}
                                </div>
                            {% endif -%}

                        {%- endblock bottombuttonbar %}
                    {%- endblock content %}
                    </div>

                </div> <!-- end col-sm-10  -->
            </div>  <!-- end container fluid -->



            {%- if "modal_form" not in page_context %}
                {% block scripts %}
                    <script>
                        var $URL_ROOT = {{ request.url_root|tojson|safe }};
                        var formErrors = {% if form is defined and form.errors and "modal_form" in page_context %}true{% else %}false{% endif %};
                    </script>
                    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
                    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
                    <script type="text/javascript" src="{{ url_for( 'static', filename='main.js' ) }}"></script>
                    <script type="text/javascript" src="{{ url_for( 'static', filename='ContextMenu.js' ) }}"></script>
                    <script type="text/javascript" src="{{ url_for( 'static', filename='bootstrap_datepicker/js/bootstrap-datepicker.min.js' ) }}"></script>
                    {{ macros.render_scripts( scripts ) }}
                {%- endblock scripts %}
            {% endif %}
        {%- endblock body %}
        </body>
    {%- endblock html %}
    </html>
{% endblock doc -%}
