{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macros %}

{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
  {%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.css" rel="stylesheet">

    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap_datepicker/css/bootstrap-datepicker.min.css') }}" rel="stylesheet">
    {%- endblock styles %}
    {%- endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}

	{% block dialog %}
	<div id="dialog" class="modal fade" role="dialog">
	  <div id="modal_dialog" class="modal-dialog">
	  </div>
	</div>
    {% endblock dialog %}

    {% block banner %}
    <div class="banner" id="banner">
      <a  href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='iggybase.gif') }}">
      </a>
      {% if current_user.is_authenticated %}
      <div id="logout" class="text-align-right">
        <a class="inline-block" href="{{ url_for('mod_auth.logout') }}">Logout</a>
	<br /><br />
      </div>
      {% endif %}
    </div>
    {% endblock banner %}


    {% block sidebar %}
    <div class="container-fluid">
      <div class="col-sm-2 sidebar">

	<div class="panel-group" id="accordion">
        <div class="panel panel-default">
        {% if sidebar %}
	    {% for item, info in sidebar.items() %}
	    <div class="panel-heading">
	      <h4 class="panel-title">
		<a data-toggle="collapse" data-parent="#accordion"
		   href="#{{ info['name'] }}collapse">{{ item }}</a>
	      </h4>
	    </div>
	    <div class="panel-body">
	      <div id="{{ info['name'] }}collapse" class="panel-collapse collapse in">

		{% for sub, sub_info in info['subs'].items() %}
		<a href="{{ sub_info['url'] }}" class="small">{{ sub }}</a><br />
		{% endfor %}
	      </div>
	    </div>
        {% endfor %}
        {% endif %}
	  </div>  <!-- end panel -->
	</div> <!-- end panel-group -->

      </div>
      {% endblock sidebar %}

      {% block navbar %}
      <div class="col-sm-10">
	<div class="row">
	  <nav class="navbar navbar-inverse">
	    <div class="navbar-header"></div>
        <div>
            {{ macros.render_nav_menu( navbar or None, True ) }}
	    </div>
	  </nav>
	</div>  <!-- end row -->

      {%- endblock navbar %}

	{% block content -%}

	<div class="row">
          {% block page_content %}
          {% block hidden_fields -%}
          <div id="hidden_fields">
	    {% if hidden_fields %}
	    {% for name, value in hidden_fields.items() %}
	    <input type="hidden" name="{{name}}"
                   value="{{value}}" class="hidden_field">
	    {% endfor %}
	    {% endif %}
          </div>
          {% endblock hidden_fields %}
          {% block topbuttonbar %}
          {%- endblock topbuttonbar %}

          {% block bottombuttonbar %}
          {%- endblock bottombuttonbar %}
          {% endblock page_content %}
		  </div>
      </div> <!-- end col-sm-10  -->
    </div>  <!-- end container fluid -->


      {%- endblock content %}

      {% block scripts %}
	  <script>var $URL_ROOT = {{ request.url_root|tojson|safe }};</script>
      <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
      <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
      <script type="text/javascript" src="{{ url_for( 'static', filename='main.js' ) }}"></script>
      <script type="text/javascript" src="{{ url_for( 'static', filename='bootstrap_datepicker/js/bootstrap-datepicker.min.js' ) }}"></script>
      {{ macros.render_scripts( scripts ) }}
      {%- endblock scripts %}
      {%- endblock body %}
  </body>
  {%- endblock html %}
</html>
{% endblock doc -%}
