{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macros %}
{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='cache.css') }}" rel="stylesheet">
{%- endblock styles %}
{% block title %}{{ page_title }}{% endblock %}
    {% block content_title -%}
        <div class="content_title">
            {% if table_name is defined %}
                <h1>{{ table_name.replace( '_',' ' )|title }} {{ page_header.replace( '_',' ' )|title }}</h1>
            {% else %}
                <h1>{{ page_header.replace( '_',' ' )|title }}</h1>
            {% endif %}
        </div>
    {%- endblock content_title %}

    {% block page_content -%}
    {% if form is defined -%}
        <form action="{{ submit_action_url }}" enctype="multipart/form-data" class="form form-horizontal" method="post" role="form">

        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens='only') }}
            {%- for field in form %}
                {% if not bootstrap_is_hidden_field( field ) -%}
                    {{ macros.render_field( field, False ) }}
                {% endif %}
            {%- endfor -%}
    {% endif -%}
    {% endblock page_content -%}

    {% block bottombuttonbar -%}
    {{ super() }}
    {% if form is defined -%}
        </form>
    <pre class='json'>
        {% if form.data and value %}
            {{ value }}
        {% endif %}
    </pre>
    {% endif %}
    {% endblock bottombuttonbar -%}
