{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macros %}
{% block title %}{{ page_title }}{% endblock %}

{% block content -%}
    {% if form is defined -%}
        {%- if "modal_form" in page_context %}
            <div id="div-modal">
        {% else -%}
            <form action="{{ submit_action_url }}" enctype="multipart/form-data" class="form form-horizontal" method="post" role="form">
        {% endif -%}

        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens='only') }}
    {% endif %}

    {% block content_title -%}
        <div class="content_title">
            {% if table_name is defined %}
                <h1>{{ table_name.replace( '_',' ' )|title }} {{ page_header.replace( '_',' ' )|title }}</h1>
            {% else %}
                <h1>{{ page_header.replace( '_',' ' )|title }}</h1>
            {% endif %}
        </div>
    {%- endblock content_title %}

    {% block topbuttonbar -%}
        {%- if "modal_form" in page_context %}
            <div>
        {% else -%}
            <div class="top_buttons">
        {% endif -%}
        {{ top_buttons|safe }}
        </div>
    {%- endblock topbuttonbar %}

    {% block hidden_fields -%}
        {{ super() }}
    {% endblock hidden_fields -%}

    <div id="page_message">
        <p>{{ page_msg|safe }}</p>
    </div>

    {% if form is defined %}
        {% block page_content -%}

        <div class="page_content">
            {% set form_fields = form._fields %}
            {%- for field_name, field in form_fields.items() %}
                {% if "table_level_" in field.id -%}
                    {% set table_level = field.data|int -%}
                    {%- if "modal_form" in page_context %}
                        <div>
                    {%- elif table_level == 0 and form_type == "single" %}
                        <div class="col-md-4 div_level_{{ table_level }}">
                    {% else -%}
                        <div class="col-md-12 div_level_{{ table_level }}">
                    {% endif -%}
                {% elif "table_name_" in field.id -%}
                    {% set table_name = field.data -%}
                    {% set table_title = field.data|replace("_", " ")|title -%}
                    {% set html_id = field.id.split("_") -%}
                    {% set table_id = html_id[2] -%}

                    {%- if form_type == "single" and table_level > 0 %}
                        <h3>{{ table_title }}</h3>
                    {%- endif %}
                {% elif "start_table_" in field.id -%}
                    {%- if (table_level == 0 and form_type == "single") or "modal_form" in page_context %}
                        <table id="{{ table_name }}" class="table">
                    {% else -%}
                        <table id="{{ table_name }}" class="table table-striped"><tr>
                        {% set field_loop = loop %}
                        {% set firstrow = 1 %}
                        {% set found = 0 %}
                        {% for field_header_name, field_header in form_fields.items() if firstrow == 1 %}
                            {% if 'end_row_' in field_header.id and found == 1 %}
                                {% set firstrow = 0 %}
                            {% endif %}

                            {% if found == 1 %}
                                {{ macros.form_field_th( field_header ) }}
                            {% endif %}

                            {% if field_name == field_header_name %}
                                {% set found = 1 %}
                            {% endif %}
                        {%- endfor %}
                    {% endif -%}
                {% elif "_buttons_top" in field.id or "_buttons_bottom" in field.id -%}
                    {{ field.data|safe }}
                {% elif "end_table_" in field.id -%}
                    </table></div><br>
                {% elif 'start_row_' in field.id-%}
                    {% set field_vars = field.id.split("_") %}
                    <tr row_id="{{ field_vars[field_vars|length - 1] }}" table_object_name="{{ table_name }}">
                {% elif 'end_row_' in field.id-%}
                    </tr>
                {% elif "record_data_row_name_" in field.id -%}
                    {% set row_name = field.data %}
                {% elif not bootstrap_is_hidden_field( field ) -%}
                    {% if (table_level == 0 and form_type == "single") or "modal_form" in page_context -%}
                        {% set field_vars = field.id.split("_") %}
                        {{ macros.render_field( field, field_vars[field_vars|length - 1], table_name, row_name ) }}
                    {% else -%}
                        <td>
                            {{ macros.table_field( field ) }}
                            {% if field.type == "IggybaseFileField" and field.data is string %}
                                {% set files = field.data.split('|') -%}
                                {% for file in files -%}
                                    <a href="/{{ g.facility }}/core/files/{{ table_name }}/{{ row_name }}/{{ file }}">{{ file }}</a>
                                {% endfor -%}
                            {% endif -%}
                        </td>
                    {%- endif -%}
                {% endif -%}
            {%- endfor -%}
        </div>
        {% endblock page_content -%}
    {% endif -%}

    {% block bottombuttonbar -%}
        {%- if "modal_form" in page_context %}
            <div>
        {% else -%}
            <div class="bottom_buttons">
        {% endif -%}
        {{ bottom_buttons|safe }}
        </div>
    {%- endblock bottombuttonbar %}

    {% if form is defined %}
        {%- if "modal_form" in page_context %}
            </div>
        {% else -%}
            </form>
        {% endif -%}
    {% endif %}
{%- endblock content %}
