{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macros %}
{% block title %}{{ page_title }}{% endblock %}

{% block content -%}
    {% if form is defined -%}
        {%- if "modal_form" in page_context %}
            <div id="div-modal">
        {% else -%}
            <form action="{{ submit_action_url }}" enctype="multipart/form-data" class="form form-horizontal" method="post" role="form" novalidate>
        {% endif -%}

        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens='only') }}
    {% endif %}

    {% block content_title -%}
        <div class="content_title">
            {% if form_tables is defined and table_name is defined %}
                <h1>{{ form_tables[0].title }}</h1>
                <br/>
                <div style="color:red;float:left;margin-right:5px;">*</div><div style="color:black;float:left;margin-right:5px;">= required field <input readonly class="lookupfieldex"/> = lookup field</div>
            {% else %}
                <h1>{{ page_header.replace( '_',' ' )|title }}</h1>
            {% endif %}
        </div>
    {%- endblock content_title %}

    {% block hidden_fields -%}
        {% if form_tables is defined %}
            {{ macros.form_buttons(form_tables[0].top_buttons) }}
        {% endif %}
    {% endblock hidden_fields -%}

    {% block page_msg -%}
        {% if form is defined and form.errors %}
            <div class="red">
        {% endif %}
            {{ super() }}
        {% if form is defined and form.errors %}
            </div>
        {% endif %}
    {% endblock page_msg -%}

    {% if form is defined %}
        {% block page_content -%}

        <div class="page_content md-col-12">
            {%- for table in form_tables %}
                <div class="div_level_{{ table.level }}">
                {% if table.level != 0 %}
                    <h3>{{ table.title }}</h3>

                    <div id='{{ table.table_name}}_top_buttons' class='top_buttons'>
                        {{ macros.form_buttons(table.top_buttons) }}
                    </div>
                {% endif -%}

                {%- if table.display == 'vertical' -%}
                    <div id="{{ table.table_name }}" class="{{ table.class }} container">
                {% else -%}
                    <div id="{{ table.table_name }}_child" class="{{ table.class }} child_table">
                    <div class="row multi-row-header" id="{{ table.table_name }}_header" name="{{ table.table_name }}_header">
                    {% for field_header in table.field_display_names -%}
                        {{ macros.form_field_th( field_header ) }}
                    {% endfor -%}
                    </div>
                    <div id="{{ table.table_name }}" name="{{ table.table_name }}" class="multi-row-data pre-scrollable">
                {% endif -%}

                {% for row in table.children %}
                    {%- if table.display == 'horizontal' -%}
                        <div class="row" row_id="{{ row.record_name }}" table_object_name="{{ table.table_name }}">
                        {%- if row.new_record %}
                            <span data_row_id="{{ row.record_name }}" class="glyphicon glyphicon-minus remove-row"></span>
                        {% else -%}
                            <span class="spacer-15"></span>
                        {%- endif %}
                    {% endif -%}
                    {% for iggybase_field in row.children %}
                        {% set field = form.__getitem__(iggybase_field.field_id) -%}
                        {% if not bootstrap_is_hidden_field( field ) -%}
                            {%- if table.display == 'vertical' -%}
                                <div class="row">
                                {% set field_vars = field.id.split("_") %}
                                {{ macros.render_field_data_entry( field, field_vars[field_vars|length - 1], table.table_name, row_name, 'col-md-4', 'col-md-2' ) }}
                                </div>
                            {% else -%}
                                {%- if 'wide' in field.iggybase_class %}
                                    {% set col_style = 'col-md-4' -%}
                                {% else -%}
                                    {% set col_style = 'col-md-2' -%}
                                {% endif -%}
                                <div class="{{ col_style }}">
                                    {{ macros.table_field( field, tmp_col_style ) }}
                                    {% if field.type == "IggybaseFileField" and field.data is string %}
                                        {% set files = field.data.split('|') -%}
                                        {% for file in files -%}
                                            <a href="/{{ g.facility }}/core/files/{{ table.table_name }}/{{ row_name }}/{{ file }}" target="_blank">{{ file }}</a>
                                        {% endfor -%}
                                    {% endif -%}
                                </div>
                            {% endif -%}
                        {% endif -%}
                    {%- endfor -%}
                    {%- if table.display == 'horizontal' -%}
                        </div>
                    {% endif -%}
                {%- endfor -%}
                {%- if table.display == 'horizontal' -%}
                    </div>
                {% endif -%}
                </div>
                {% if table.level != 0 %}
                    <div id='{{ table.table_name}}_bottom_buttons' class='bottom_buttons'>
                        {{ macros.form_buttons(table.bottom_buttons) }}
                    </div>
                {% endif -%}
                </div>
            {%- endfor -%}
            </div>
        {% endblock page_content -%}
    {% endif -%}

    {% block bottombuttonbar -%}
        {% if form_tables is defined %}
            {{ macros.form_buttons(form_tables[0].bottom_buttons) }}
        {% endif %}
    {% endblock bottombuttonbar -%}

    {% if form is defined %}
        {%- if "modal_form" in page_context %}
            </div>
        {% else -%}
            </form>
        {% endif -%}
    {% endif %}
{%- endblock content %}
