{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='jquery/DataTables/media/css/jquery.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='detail.css') }}" rel="stylesheet">
{%- endblock styles %}
{% block title %}{{ page_title }}{% endblock %}

{% block page_content %}
    <h1>{{table_name.replace( '_', ' ' )|title}} {{ page_header }}</h1>
    {% block hidden_fields %}
        {{ super() }}
    {%- endblock hidden_fields %}

    {% block topbuttonbar %}
        {{ super() }}
        {{ macros.render_buttons( top_buttons ) }}
    {%- endblock topbuttonbar %}

    {% if table_queries.results[0] %}
        {{ macros.render_detail( table_queries.results[0].get_first() ) }}
    {% endif %}
    {% block bottombuttonbar %}
        {{ super() }}
        {{ macros.render_buttons( bottom_buttons ) }}
    {%- endblock bottombuttonbar %}
    {% if table_queries.results[1] %}
        {% for table_query in table_queries.results[1:]: %}
    <div class={{ table_query.display_name ~ "_table_div" }}>
        <h1>{{table_query.display_name|title}}</h1>
        {{ macros.render_table( table_query ) }}
    </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript"
        src="{{ url_for('static', filename='jquery/DataTables/media/js/jquery.dataTables.min.js')}}"></script>
{%- endblock scripts %}
