{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macros %}

{% block doc -%}
    <!DOCTYPE html>
    <html {% block html_attribs %}{% endblock html_attribs %}>
    {%- block html %}
        <head>
        {%- block head %}
            <title>{% block title %}{% endblock title %}</title>

            {%- block metas %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {%- endblock metas %}

            {%- block styles %}
            <!-- Bootstrap -->
            <link href="{{ url_for('static', filename='reset.css') }}" rel="stylesheet">
            <link href="{{ url_for('static', filename='invoice.css') }}" rel="stylesheet">
            {%- endblock styles %}
        {%- endblock head %}
        </head>

        <body{% block body_attribs %}{% endblock body_attribs %}>
        {% block body -%}
        {% set first_invoice = True %}
        {% for invoice in invoices:%}
                {% if first_invoice %}
                    {% set first_invoice = False %}
                {% else %}
                  <div class="page_break"></div>
                {% endif %}
                <div class="banner-img-wrapper">
                    <a> <img class="banner-img" src="{{ url_for('static', filename='images/harvard_wreath_150.png') }}"></a>
                </div>

                <div class="address">
                    <div class="banner-title">
                        <h1>{{invoice.facility_title}}</h1>
                    </div>
                    <ul>
                    {% for line in invoice.from_address %}
                        <li>{{line}}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="invoice_info">
                    <ul>
                        <li>Invoice #: {{invoice.number}}</li>
                        <li>Invoice Date: {{invoice.last_modified.date()}}</li>
                        <li>Start Date: {{invoice.from_date}}</li>
                        <li>End Date: {{invoice.to_date}}</li>
                        <li>Group: {{invoice.org_name}}</li>
                        {% if invoice.charge_method_type == 'po' %}
                            {% if 'invoice address' in invoice.po_info %}
                                <br>
                                <li>Invoice Address:</li>
                                {% for line in invoice.po_info['invoice address'] %}
                                    <li>{{line}}</li>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
                <div class="to_info">
                        <ul>
                            {% for key, val in invoice.to_info.items() %}
                                <li>{{key}}: {{val}}</li>
                            {% endfor %}
                        </ul>
                    </div>
            <div class="invoice_tbls">
            {{ macros.invoice_table('purchases', invoice.purchase_table, 'purchases') }}
            <br><div class="total">Total Purchases: {{invoice.display_total}}</div>
            {{ macros.invoice_table('expense code summary', invoice.charge_table) }}
            {{ macros.invoice_table('user summary', invoice.user_table) }}
            <div>

            {% if invoice.charge_method_type == 'po' %}
                {% if 'remit to' in invoice.po_info %}
                <br>
                <div class="remit_to">
                    {% if invoice.po_info['remit to'][0] %}
                        <div>Remit To:</div>
                        <ul class="remit_left">
                        {% for row in invoice.po_info['remit to'][0] %}
                            <li>{{row}}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% if invoice.po_info['remit to'][1] %}
                        <ul class="remit_right">
                        {% for row in invoice.po_info['remit to'][1] %}
                            <li>{{row}}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                <div>
                {% endif %}
            {% endif %}

        {% endfor %}
        {%- endblock body %}
        </body>
    {%- endblock html %}
    </html>
{% endblock doc -%}
