{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macros %}

{% block doc -%}
    <!DOCTYPE html>
    <html {% block html_attribs %}{% endblock html_attribs %}>
    {%- block html %}
        <head>
        {%- block head %}
            <title>{% block title %}{% endblock title %}</title>

            {%- block metas %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {%- endblock metas %}

            {%- block styles %}
            <!-- Bootstrap -->
            <link href="{{ url_for('static', filename='reset.css') }}" rel="stylesheet">
            <link href="{{ url_for('static', filename='invoice.css') }}" rel="stylesheet">
            {%- endblock styles %}
        {%- endblock head %}
        </head>

        <body{% block body_attribs %}{% endblock body_attribs %}>
        {% block body -%}
        {% for invoice in invoices.values():%}
            <div class="page_break"></div>
            <div class="pdf_header">
                <div class="banner" id="banner">
                    <div class="banner-img-wrapper">
                        <a> <img class="banner-img" src="{{ url_for('static', filename='images/harvard_wreath_150.png') }}"></a>
                    </div>
                    <div class="banner-title">
                            <h1>{{invoice.facility_title}}</h1>
                    </div>
                </div>
                <div class="sub_headers">
                    <div class="address">
                        <ul>
                        {% for line in invoice.from_address %}
                            <li>{{line}}</li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="invoice_info">
                        <ul>
                            <li>Invoice #: {{invoice.Invoice.id}}</li>
                            <li>Invoice Date: {{invoice.Invoice.last_modified.date()}}</li>
                            <li>Start Date: {{invoice.from_date}}</li>
                            <li>End Date: {{invoice.to_date}}</li>
                            <li>Group: {{invoice.org_name}}</li>
                        </ul>
                    </div>
                </div>
            </div>

                    <div  class="content">
                        {{ macros.invoice_table('Purchases', invoice.purchase_table) }}
                        {{ macros.invoice_table('Expense Code Summary', invoice.charge_table) }}
                        {{ macros.invoice_table('User Summary', invoice.user_table) }}
                    </div>

        {% endfor %}
        {%- endblock body %}
        </body>
    {%- endblock html %}
    </html>
{% endblock doc -%}
