{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{%- block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='lipid.css') }}" rel="stylesheet">
{% endblock %}
{% block content_title %}
    <h1>Lipid Analysis</h1>
{%- endblock content_title %}
{% block page_content %}
    <form action="{{ url_for('smallmolecule.lipid_analysis', facility_name = 'smallmolecule') }}" method="POST" name="lipid_analysis_form" class="form_table" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset>
        <legend>Merge results files</legend>
            {{ macros.render_field(form.file1) }}
            {{ macros.render_field(form.file2) }}
        </fieldset>
        <fieldset>
        <legend>Filtering</legend>
            {{ macros.render_field(form.retention_time_filter) }}
            {{ macros.render_field(form.group_pq_filter) }}
            {{ macros.render_field(form.group_sn_filter) }}
            {{ macros.render_field(form.group_area_filter) }}
            {{ macros.render_field(form.group_height_filter) }}
        </fieldset>
        <fieldset>
        <legend>Blank subtraction (optional)</legend>
            {{ macros.render_field(form.blank) }}
            {{ macros.render_field(form.mult_factor) }}
        </fieldset>
        <fieldset>
        <legend>Remove columns that start with:</legend>
            {{ form.remove_cols(class = 'remove_cols') }}
        </fieldset>
        <fieldset>
        <legend>Normalization (optional)</legend>
            {{ form.normalize(class = 'radio normalize') }}
            <div class='normal_values'>
                {{ macros.render_field(form.normal_c) }}
                {{ macros.render_field(form.normal_s1) }}
                {{ macros.render_field(form.normal_s2) }}
                {{ macros.render_field(form.normal_s3) }}
                {{ macros.render_field(form.normal_s4) }}
                {{ macros.render_field(form.normal_s5) }}
                {{ macros.render_field(form.normal_s6) }}
                {{ macros.render_field(form.normal_s7) }}
                {{ macros.render_field(form.normal_s8) }}
                {{ macros.render_field(form.normal_s9) }}
                {{ macros.render_field(form.normal_s10) }}
            </div>
        </fieldset>
        <input id="submit" name="submit" type="submit" value="Submit">
    </form>
    {% if csv %}
        <a href="{{url_for('core.file', facility_name = 'smallmolecule',
            table_name = 'lipid_analysis', filename = 'lipid_analysis.csv')}}"
            target="_blank">Download Lipid Analysis File</a>
    {% endif %}
{% endblock page_content %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for( 'static', filename='lipid.js' ) }}"></script>
{% endblock %}
