{# http://bear-z.com/python/render-bootstrap-3-forms-with-wtforms-and-jinja/ #}
{% macro render_form(form, action_url='', action_text='Submit', class_='', btn_class='btn btn-default') -%}

    <form method="POST" action="{{ action_url }}" role="form" class="{{ class_ }}">
        {{ form.hidden_tag() if form.hidden_tag }}
        {% if caller %}
            {{ caller() }}
        {% else %}
            {% for f in form %}
                {% if f.type == 'BooleanField' %}
                    {{ render_checkbox_field(f) }}
                {% elif f.type == 'RadioField' %}
                    {{ render_radio_field(f) }}
                {% else %}
                    {{ render_field(f) }}
                {% endif %}
            {% endfor %}
        {% endif %}
        <button type="submit" class="{{ btn_class }}">{{ action_text }} </button>
    </form>
{%- endmacro %}

{% macro render_select(options, id, default = None) -%}
<select id="{{id}}">
    {% if options is mapping %}
        {% for name, val in options.items(): %}
            {{ render_option(name, val, default) }}
        {% endfor %}
    {% else %}
        {% for val in options: %}
            {{ render_option(val, val, default) }}
        {% endfor %}
    {% endif %}
    </select>
{%- endmacro %}

{% macro render_option(name, val, default = None) -%}
    <option
    {% if default and default == val %}
        selected
    {% endif %}
    value={{val}}>{{name}}</option>
{%- endmacro %}

{% macro render_nav_menu(items, first_level = False) -%}
    {% if first_level%}
        <ul class="nav navbar-nav nav-tabs">
            <li><a href="{{ url_for('home') }}">Home</a></li>
    {% else %}
        <ul class="dropdown-menu">
    {% endif %}
    {% if items %}
        {% for item, info in items.items()%}
            {% if 'subs' in info and info['subs'] %}
            <li class="dropdown">
                <a id="{{ item }}" class="dropdown-toggle" data-toggle="dropdown"
                href= "{{ info['url'] }}" class="small">{{ info['title'] }}
                <span class="caret"></span></a>
                {{ render_nav_menu(info['subs'])}}
            {% else %}
                <li><a id="{{ item }}" href="{{ info['url'] }}"
                {% if not first_level %}
                   {% if info['class'] %}
                        class="small {{ info['class'] }}"
                   {% else %}
                        class="small"
                   {% endif %}
                {% elif info['class'] %}
                    class="{{ info['class'] }}"
                {% endif %}
                {% if 'data' in info %}
                    {% for data_key, data_val in info['data'].items() %}
                        data-{{data_key}}={{data_val}}
                    {% endfor %}
                {% endif %}
                >{{ info['title'] }}</a>
            {% endif %}
            </li>
        {% endfor %}
    {% endif %}
    </ul>
{%- endmacro %}

{% macro render_field(field, row_id, table_name, row_name) -%}
    <tr row_id="{{ row_id }}"><td>
    <label for="{{ field.id }}" class="control-label">{{ field.label }}:</label>
    </td>
    <td class="col-md-8">
    {{ field(**kwargs) }}
    {% if field.errors -%}
        {% for e in field.errors -%}
            <p class="help-block">{{ e }}</p>
        {% endfor -%}
    {% endif -%}
    {% if field.type == "IggybaseFileField" and field.data is string %}
        {% set files = field.data.split('|') -%}
        {% for file in files -%}
            <a href="/{{ g.facility }}/core/file/{{ table_name }}/{{ row_name }}/{{ file }}">{{ file }}</a>
        {% endfor -%}
    {% endif -%}
    </td></tr>
{%- endmacro %}

{% macro render_table_headers( table_query, page_form_name = None ) -%}
    {% if table_query.fc.fields %}
        <table id="{{ table_query.display_name }}_summary_table" class="summary_table display">
            <thead><tr>
                {% if page_form_name == 'action_summary' %}
                    <th>
                        <input type="button" id="select_all" value="Select All/ None">
                    </th>
                {% endif %}
                {% for name, field in table_query.fc.fields.items() %}
                    {% if field.visible %}
                    <th data-name="{{field.name}}">{{ field.display_name }}</th>
                    {% endif %}
                {% endfor %}
        </tr></thead>
    </table>
    {% endif %}
{%- endmacro %}

{% macro render_table( table_query, page_form_name = None ) -%}
    {% if table_query.table_dict %}
        <table id="{{ table_query.display_name }}_summary_table" class="summary_table display">
            <thead><tr>
                {% if page_form_name == 'action_summary' %}
                    <th>
                        <input type="button" id="select_all" value="Select All/ None">
                    </th>
                {% endif %}
                {% for key in table_query.get_first().keys() %}
                    <th>{{ key.replace('_', ' ')|title }}</th>
                {% endfor %}
            </tr></thead>
            <tbody>
                {% for row in table_query.table_dict %}
                    <tr>
                    {% if page_form_name == 'action_summary' %}
                        <td><input type="checkbox" class="action_checkbox"></td>
                    {% endif %}
                    {% for value in row.values() %}
                        <td>
                            {{ value }}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{%- endmacro %}

{% macro render_detail(tq) -%}
    <div class="detail">
    {% if tq.get_first() %}
        <table id="detail_table">
        {% for name, value in tq.get_first().items() %}
            <tr>
                <td><b>{{ tq.get_display_name(name) }}</b></td>
                <td>{{value|safe}}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    </div>
{%- endmacro %}


{% macro render_scripts( scripts ) -%}
    {% for script in scripts -%}
        <script type="text/javascript" src="{{ url_for('static', filename='' ) }}{{ script }}"></script>
    {% endfor -%}
{%- endmacro %}

{% macro table_field(field,
                    form_type="basic",
                    horizontal_columns=('lg', 2, 10),
                    button_map={}) -%}

{# this is a workaround hack for the more straightforward-code of just passing required=required parameter. older versions of wtforms do not have
the necessary fix for required=False attributes, but will also not set the required flag in the first place. we skirt the issue using the code below #}
{% if field.flags.required and not required in kwargs -%}
{% set kwargs = dict(required=True, **kwargs) -%}
{% endif -%}

{% if field.widget.input_type == 'checkbox' -%}
    <div class="checkbox">
        {{field()|safe}}
    </div>
{%- elif field.type == 'RadioField' -%}
  {# note: A cleaner solution would be rendering depending on the widget,
     this is just a hack for now, until I can think of something better #}
    {% for item in field -%}
      <div class="radio">
        <label>
          {{item|safe}} {{item.label.text|safe}}
        </label>
      </div>
    {% endfor -%}
{%- elif field.type == 'FormField' -%}
{# note: FormFields are tricky to get right and complex setups requiring
   these are probably beyond the scope of what this macro tries to do.
   the code below ensures that things don't break horribly if we run into
   one, but does not try too hard to get things pretty. #}
  <fieldset>
    {%- for subfield in field %}
      {% if not bootstrap_is_hidden_field(subfield) -%}
        {{ form_field(subfield,
                      form_type=form_type,
                      horizontal_columns=horizontal_columns,
                      button_map=button_map) }}
      {%- endif %}
    {%- endfor %}
  </fieldset>
{% else -%}
  <div class="form-group {% if field.errors %} has-error{% endif -%}
                         {%- if field.flags.required %} required{% endif -%}
  ">
      {%- if form_type == "inline" %}
        {%- if field.type == 'FileField' %}
          {{field(**kwargs)|safe}}
        {%- else %}
          {{field(**kwargs)|safe}}
        {%- endif %}
      {%- elif form_type == "horizontal" %}
        <div class=" col-{{horizontal_columns[0]}}-{{horizontal_columns[2]}}">
          {%- if field.type == 'FileField' %}
            {{field(**kwargs)|safe}}
          {%- else %}
            {{field(**kwargs)|safe}}
          {%- endif %}
        </div>
        {%- if field.errors %}
          {%- for error in field.errors %}
              <p class="help-block">{{error}}</p>
          {%- endfor %}
        {%- elif field.description -%}
            <p class="help-block">{{field.description|safe}}</p>
        {%- endif %}
      {%- else -%}
        {{field(class="table-control", **kwargs)|safe}}

        {%- if field.errors %}
          {%- for error in field.errors %}
            <p class="help-block">{{error}}</p>
          {%- endfor %}
        {%- elif field.description -%}
          <p class="help-block">{{field.description|safe}}</p>
        {%- endif %}
      {%- endif %}
  </div>
{%- endif %}
{%- endmacro %}

{% macro breadcrumbs(steps) -%}
<div>
        <ul class='breadcrumbs'>
            {% for step in steps.values() %}
            <li><a href='{{step['url']}}'
                {% if step['class'] %}
                    class="{{step['class']}}"
                {% endif %}
                >{{step['value']}}</a></li>
            {% endfor %}
        </ul>
    </div>
    {%- endmacro %}

{% macro form_field_th(field) -%}
    {% if not bootstrap_is_hidden_field( field ) %}
        {% if field.flags.required %}
            <th class='required'>
        {% else %}
            <th>
        {% endif %}
        {{ field.label }}</th>
    {% endif %}
{%- endmacro %}

{% macro invoice_table(name, table) -%}
    {% if table %}
        <h3>{{name}}</h3>
        <table>
            <tr>
            {% for header in table[0] %}
                <th>{{header|title}}</th>
            {% endfor %}
            </tr>
            {% for row in table %}
                <tr>
                {% for val in row.values() %}
                    <td>{{val}}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{%- endmacro %}
