{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macros %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <form action class="form form-horizontal" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens='only') }}

    {% block content_title -%}
        <div class="content_title">
            <h1> {{ page_header }}</h1>
        </div>
    {%- endblock content_title %}

    {% block topbuttonbar %}
        {{ super() }}
        {{ macros.render_buttons( top_buttons ) }}
    {%- endblock topbuttonbar %}

    {% block hidden_fields -%}
        {{ super() }}
    {% endblock hidden_fields -%}

    <div id="page_message">
        <p>{{ page_msg|safe }}</p>
    </div>

    <div   class="col-md-12">
    {% block page_content -%}
        <table class="table table-striped">
            <tr>
                {% set firstrow = 1 %}
                {%- for field in form if firstrow == 1 %}
                    {% if field.id|truncate(14, True, '') == 'endrow_' %}{% set firstrow = 0 %}{% endif %}
                    {% if not bootstrap_is_hidden_field( field ) %}
                        <th>{{ field.label }}</th>
                    {% endif %}
                {%- endfor %}
            </tr>
            <tr>
                {%- for field in form %}
                    {% if field.id|truncate(14, True, '') == 'endrow_' %}
                        </tr><tr>
                    {% endif %}
                    {% if not bootstrap_is_hidden_field( field ) -%}
                        <td>{{ macros.table_field( field ) }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
    {% endblock page_content -%}
    </div>

    {% block bottombuttonbar %}
        {{ super() }}
        {{ macros.render_buttons( bottom_buttons ) }}
    {%- endblock bottombuttonbar %}

    </form>
{% endblock %}
