{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macros %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <form action="{{ submit_action_url }}" enctype="multipart/form-data" class="form form-horizontal" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens='only') }}

    {% block content_title -%}
        <div class="content_title">
            <h1> {{ page_header }}</h1>
        </div>
    {%- endblock content_title %}

    {% block topbuttonbar %}
        {{ super() }}
        {{ macros.render_buttons( top_buttons ) }}
    {%- endblock topbuttonbar %}

    {% block hidden_fields -%}
        {{ super() }}
    {% endblock hidden_fields -%}

    <div id="page_message">
        <p>{{ page_msg|safe }}</p>
    </div>

    <div   class="col-md-12">
    {% block page_content -%}
        <table class="table table-striped">
            <tr>
                {% set firstrow = 1 %}
                {%- for field in form if firstrow == 1 %}
                    {% if 'endrow_' in field.id %}
                        {% set firstrow = 0 %}
                    {% endif %}

                    {% if not bootstrap_is_hidden_field( field ) %}
                        <th>{{ field.label }}</th>
                    {% endif %}
                {%- endfor %}
            </tr>
            {% set row_name = '' %}
            {% set table_name = '' %}
            <tr row_id="1">
                {%- for field in form %}
                    {% if not bootstrap_is_hidden_field( field ) -%}
                        <td>
                            {{ macros.table_field( field ) }}
                            {% if field.type == "IggybaseFileField" and field.data is string %}
                                {% set files = field.data.split('|') -%}
                                {% for file in files -%}
                                    <a href="/{{ g.facility }}/core/uploads/{{ table_name }}/{{ row_name }}/{{ file }}">{{ file }}</a>
                                {% endfor -%}
                            {% endif -%}
                        </td>
                    {% elif 'endrow_' in field.id %}
                        </tr>
                    {% elif 'startrow_' in field.id-%}
                        {% set field_vars = field.id.split("_") %}
                        <tr row_id="{{ field_vars[field_vars|length - 1] }}">
                    {% elif "record_data_row_name_" in field.id -%}
                        {% set row_name = field.data %}
                    {% elif "record_data_table_name_" in field.id -%}
                        {% set table_name = field.data %}
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
    {% endblock page_content -%}
    </div>

    {% block bottombuttonbar %}
        {{ super() }}
        {{ macros.render_buttons( bottom_buttons ) }}
    {%- endblock bottombuttonbar %}

    </form>
{% endblock %}
