{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macros %}
{% block title %}{{ page_title }}{% endblock %}

{% block content -%}
    {% if form is defined -%}
        <form action="{{ submit_action_url }}" enctype="multipart/form-data" class="form form-horizontal" method="post" role="form">

        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens='only') }}
    {% endif %}

    {% block content_title -%}
        <div class="content_title">
            {% if table_name is defined %}
                <h1>{{ table_name.replace( '_',' ' )|title }} {{ page_header.replace( '_',' ' )|title }}</h1>
            {% else %}
                <h1>{{ page_header.replace( '_',' ' )|title }}</h1>
            {% endif %}
        </div>
    {%- endblock content_title %}

    {% block topbuttonbar -%}
        <div class="top_buttons">
        {{ macros.render_buttons( top_buttons ) }}
        </div>
    {%- endblock topbuttonbar %}

    {% block hidden_fields -%}
        {{ super() }}
    {% endblock hidden_fields -%}

    <div id="page_message">
        <p>{{ page_msg|safe }}</p>
    </div>

    {% if form is defined %}
        {% block page_content -%}
        <div class="page_content">
            {%- for field in form %}
                {% if "startmaintable_" in field.id -%}
                    <div class="col-md-4">
                    {% set table_name = field.data -%}
                    <table id="{{ table_name }}" class="table">
                    {% set maintable = 1 -%}
                {% elif "startchildtable_" in field.id -%}
                    {% set html_id = field.id.split("_") -%}
                    {% set table_id = html_id[1] -%}
                    </table></div><br><br><div class="col-md-12">
                    {% set table_title = field.data|replace("_", " ")|title -%}
                    <h3>{{ table_title }}</h3>
                    {% set table_name = field.data -%}
                    <input type="button" class="add_new_child_item" target_table="{{ table_name}}" table_object_id="{{ table_id }}" value="Add {{ field.data }}">
                    <table id="{{ table_name }}" class="table table-striped"><tr>
                    {% set maintable = 0 -%}
                    {% set endrow = 1 -%}
                {% elif "headers_" in field.id -%}
                    {% set data = field.data|replace("\"", "")|safe -%}
                    {% set headers = data.split('|') -%}
                    <tr>
                    {% for header in headers -%}
                        <th>{{ header }}</th>
                    {% endfor -%}
                    </tr>
                {% endif -%}

                {% if maintable == 1 -%}
                    {% if not bootstrap_is_hidden_field( field ) -%}
                        {{ macros.render_field( field ) }}
                    {% endif -%}
                {% else -%}
                    {% if field.id|truncate(7, True, '') == 'endrow_' -%}
                        </tr>
                        {% set endrow = 1 -%}
                    {% endif -%}

                    {% if not bootstrap_is_hidden_field( field ) -%}
                        {% if endrow == 1 -%}
                            {% set field_vars = field.id.split("_") %}
                            <tr row_id="{{ field_vars[field_vars|length - 1] }}" table_object_name="{{ table_name }}">
                            {% set endrow = 0 -%}
                        {% endif -%}

                        <td>{{ macros.table_field( field ) }}</td>
                    {% endif -%}
                {%- endif -%}
            {%- endfor -%}
            </table>
            </div>
        </div>
        {% endblock page_content -%}
    {% endif -%}

    {% block bottombuttonbar -%}
        <div class="bottom_buttons">
        {{ macros.render_buttons( bottom_buttons ) }}
        </div>
    {%- endblock bottombuttonbar %}

    {% if form is defined %}
        </form>
    {% endif %}
{%- endblock content %}