{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='jquery/DataTables/media/css/jquery.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='jquery/jquery-ui/jquery-ui.theme.min.css') }}" rel="stylesheet">
{%- endblock styles %}
{% block title %}Iggybase - {{ table_name.replace( '_',' ' ) }}{% endblock %}
{% block page_content %}
<h1>{{ table_name.replace( '_', ' ' ) }} {{page_header}}</h1>
    {% block topbuttonbar %}
        {{ super() }}
        {{ macros.render_buttons(top_buttons)}}
    {%- endblock topbuttonbar %}
    <div>
        <p>Min Date:<input type="text" class="datepicker" id="min_date"></p>
        <p>Max Date:<input type="text" class="datepicker" id="max_date"></p>
    </div>
    <div class={{ table_name ~ "_table" }}>
        {{ macros.render_table( table_name, table_rows ) }}
    </div>
    {% block bottombuttonbar %}
        {{ super() }}
        {{ macros.render_buttons(bottom_buttons)}}
    {%- endblock bottombuttonbar %}
{%- endblock page_content %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript"
        src="{{ url_for('static', filename='jquery/DataTables/media/js/jquery.dataTables.min.js')}}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='jquery/jquery-ui/jquery-ui.min.js')}}"></script>
{%- endblock scripts %}
