{% extends template %}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macros %}
{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='work_item_group.css') }}" rel="stylesheet">
{%- endblock styles %}

{% block title %}{{ page_title }}{% endblock %}
{% block content_title -%}
    <div class="content_title">
        <h1>Workflow {{wig.Workflow.name|title}}</h1>
        <h2>Step
            {% if wig.Step.order %}
                {{wig.Step.order}}
            {% endif %}
            - {{wig.Step.name}}:
        {% if table_name is defined %}
             {{ table_name.replace( '_',' ' )|title }} {{ page_header.replace( '_',' ' )|title }}</h2>
        {% else %}
            {{ page_header.replace( '_',' ' )|title }}</h1>
        {% endif %}
    </div>
    <hr>
{%- endblock content_title %}
{% block bottombuttonbar -%}
    <div class="bottom_buttons">
        {{ macros.render_buttons( bottom_buttons ) }}
    </div>
    <hr>
    <div class="workflow_buttons">
        <form action="" enctype="multipart/form-data" class="form form-horizontal" method="post" role="form">
            <input type="hidden" name="saved_rows" value="{{wig.saved_rows}}">
            {{ macros.render_buttons( wig.buttons ) }}
        </form>
    </div>
    <br><br>
    <div>
        <ul class='breadcrumbs'>
            {% for name, step in wig.workflow_steps.items() %}
            <li><a href='{{step['url']}}'
                {% if step['current'] %}
                    class='current'
                {% endif %}
                >{{step['num']}}</a></li>
            {% endfor %}
        </ul>
    </div>
{%- endblock bottombuttonbar %}
