{% extends template %}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macros %}

{% block title %}{{ page_title }}{% endblock %}
{% block content_title -%}
    <div class="content_title">
        <h1>Workflow {{wig.workflow.name|title}}</h1>
        <h2>Step
        {{wig.show_step}}
        {% if table_name is defined %}
             {{ table_name.replace( '_',' ' )|title }} {{ page_header.replace( '_',' ' )|title }}</h2>
        {% else %}
            {{ page_header.replace( '_',' ' )|title }}</h1>
        {% endif %}
        {% if wig.is_complete() %}
            <h4 class="red">Status Complete: any edits will overwrite existing work</h4>
        {% elif wig.is_previous_step() %}
            <h4 class="red">Step already done: any edits will overwrite existing work</h4>
        {% endif %}
    </div>
    <hr>
{%- endblock content_title %}
{% block bottombuttonbar -%}
    <div class="bottom_buttons">
        {{ macros.render_buttons( bottom_buttons ) }}
    </div>
    <hr>
    <div class="workflow_buttons">
        <form action="" enctype="multipart/form-data" class="form form-horizontal" method="post" role="form">
            <input type="hidden" name="saved_rows" value="{{wig.saved_rows}}">
            {{ macros.render_buttons( wig.buttons ) }}
        </form>
    </div>
    <br><br>
    {{ macros.breadcrumbs( wig.get_breadcrumbs() ) }}
{%- endblock bottombuttonbar %}
