{% extends template %}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macros %}

{% block title %}{{ page_title }}{% endblock %}
{% block content_title -%}
    <div class="content_title">
        <h1>{{wig.workflow.display_name|title}}
            {%if wig.parent_work_item %}
                {{ wig.parent_work_item}}
            {% endif %}
        </h1>
        {% if wig.workflow.Workflow.notes %}
            <p>{{ wig.workflow.Workflow.notes }}</p>
        {% endif %}
        <h2>Step
        {{wig.show_step_num}}
        {% if wig.step.Step.display_name is defined %}
             {{ wig.step.Step.display_name|title }} {{ page_header.replace( '_',' ' )|title }}</h2>
        {% elif table_name is defined %}
             {{ fg.instance.tables[table_name]['table_display_name'].replace( '_',' ' )|title }} {{ page_header.replace( '_',' ' )|title }}</h2>
        {% else %}
            {{ page_header.replace( '_',' ' )|title }}</h1>
        {% endif %}
        {% if wig.is_complete() %}
            <h4 class="red">Status Complete: any edits will overwrite existing work</h4>
        {% elif wig.is_previous_step() %}
            <h4 class="red">Step already done: any edits will overwrite existing work</h4>
        {% endif %}
        {% if wig.step.Step.notes %}
            <p>{{ wig.step.Step.notes|safe }}</p>
        {% endif %}
        {% if wig.WorkItemGroup.notes %}
            <br><p>{{ wig.WorkItemGroup.notes }}</p>
        {% endif %}
    </div>
    <hr>
{%- endblock content_title %}
{% block bottombuttonbar -%}
    <hr>
    <div class="workflow_buttons">
        <form id="wig_data" action="" enctype="multipart/form-data" class="form form-horizontal" method="post" role="form">
            <input id="saved_rows" type="hidden" name="saved_rows" value="{{wig.saved_rows}}">
            {{super()}}
        </form>
    </div>
    <br><br>
    {{ macros.breadcrumbs( wig.get_breadcrumbs() ) }}
{%- endblock bottombuttonbar %}
{% block scripts %}
    <script>var $AJAX_ROUTE = {{ wig.url|tojson|safe }};</script>
    {{ super() }}
    <script type="text/javascript"
        src="{{ url_for('static', filename='work_item_group.js')}}"></script>
{%- endblock scripts %}
